name: Release

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Set up ko
        uses: ko-build/setup-ko@v0.9
        with:
          version: v0.18.0

      - name: Build and push container image
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository }}
          TAGS: ${{ github.event.release.tag_name }},latest
        run: |
          ko build ./cmd/bot \
            --bare \
            --tags=${TAGS}

